@import url('../reset.css');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Phonebook Styles */
.title {
  text-align: center;
}

.second-title {
  margin-bottom: 20px;
}

.phonebook__title {
  margin-bottom: 100px;
}

.form-section {
  margin-bottom: 50px;
}

.phb-form__fieldset > * {
  display: block;
}
.phb-form__fieldset > *:not(:last-child) {
  margin-bottom: 5px;
}
.phb-form__fieldset:not(:last-of-type) {
  margin-bottom: 10px;
}
.phb-form__fieldset:last-of-type {
  margin-bottom: 30px;
}

.phb-form__input {
  width: 100%;

  border: 1px solid rgb(148, 148, 148);
  border-radius: 4px;

  padding: 10px 15px;
}

.phb-form__button {
  display: block;
  width: 100%;
}

.phb-list {
  list-style: none;
  word-break: break-all;
}