/* It's not a best styling, I'll refactor this later */

.form__btn {
  margin-top: 10px;
}

form {
  width: 50%;
}
form fieldset {
  border: none;
}
form input {
  width: 75%;
}
form label {
  margin-right: 5px;
}

.logout > button {
  margin-left: 50px;
}

.blogs {
  margin-top: 30px;
  padding-left: 0;
  list-style: none;
  width: fit-content;
}
li button {
  margin-left: 10px;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.error {
  color: red;
}
.standard-notification {
  color: green;
}

.blog {
  padding: 10px 5px 0 5px;
  border: solid 1px black;
}
.blog:not(:last-of-type) {
  margin-bottom: 5px;
}

.likes {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.table {
  display: grid;
  grid-template-areas: 
    "table__col1 table__col2";
  grid-template-columns: repeat(2, fit-content(100%));
  column-gap: 5px;
}
.table__header {
  font-weight: 700;
}
.link:not(:last-of-type) {
  padding-right: 5px;
}