form fieldset {
  border: none;
}
form label {
  margin-right: 5px;
}
section > ul {
  list-style: none;
}
.capital > p {
  margin: 0;
}
.country li > span {
  margin-right: 5px;
}
.flag > img {
  border: 1px solid rgb(143, 143, 143);
}